.vscode
.idea
backups
downloads
ESM
journeymap
local
logs
patchouli_books
saves
.curseclient
keys.txt
knownkeys.txt
options.txt
optionsof.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
mods/
modernfix/
crash-reports/
minecraftinstance.json
shaderpacks/
